fastapi[all]
uvicorn[standard]
python-jose[cryptography]
asyncpg
pydantic
alembic
sqlalchemy
bitsandbytes>=0.38.0
numpy
transformers
safetensors
bcrypt
passlib
git+https://github.com/neggles/mmappickle@numpy-1.20#egg=mmappickle
psutil
Pillow
openai
